* {
    margin: 0px;
    padding: 0px;
    /* outline: 1px dashed rgb(255, 0, 0); */
    box-sizing: border-box;
} 


.square1{
    height: 150px;
    margin: 20px;
    width: 150px;
    color: brown;
}
.d-flex{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
